#dov{display: flex;
    justify-content: center;
}
#pro{display: flex;
    justify-content: center;
}
#peq{display: flex;
    justify-content: center;
}
#mar{display: flex;
    justify-content: center;
}
#ac{display: flex; 
    justify-content: center;
}
#lando{display: flex; 
    justify-content: center;
}
#lan{display: flex;
    justify-content: center;
}
#dovd{display: flex;
    justify-content: center;
}
#mv{display: flex;
   justify-content: center; 
}
#dosd{display: flex; 
    justify-content: center;
}
#des{display: flex; 
    justify-content: center; 
}
#oso{display: flex; 
    justify-content: center;
}
#ou{display: flex; 
   justify-content: center;
}
#fim{display: flex;
    justify-content: center;
}
